<div class="productDetail">
  <div class="productDetail-backButton">
    <button mat-stroked-button (click)="goBack()" class="back-button">
      <mat-icon>arrow_back</mat-icon>
      <span>Volver</span>
    </button>
  </div>

  <div
    class="productDetail-content"
    *ngIf="product$ | async as product; else loading"
  >
    <h1>{{ product.name }}</h1>
    <div class="productDetail-content-info">
      <p><strong>Descripción:</strong> {{ product.description }}</p>
      <p><strong>Precio:</strong> ${{ product.price }}</p>
      <p><strong>Stock:</strong> {{ product.stock }} unidades</p>
      <p><strong>Marca:</strong> {{ product.brand }}</p>
      <p><strong>Ubicación:</strong> {{ product.location }}</p>
      <p><strong>Categorías:</strong> {{ product.categories.join(", ") }}</p>
    </div>
  </div>

  <ng-template #loading>
    <p>Cargando producto...</p>
  </ng-template>
</div>
